
<!-- Fragment: Contact Form -->
<form id="contactForm" class="contact-form">
    <div class="card">
        <div class="form-field">
            <label>Your Name</label>
            <input type="text" name="from" required>
        </div>
        <div class="form-field">
            <label>Your Email Address</label>
            <input type="email" name="sender_email" required>
        </div>
        <div class="form-field">
            <label>Subject</label>
            <input type="text" name="subject" required>
        </div>
        <div class="form-field">
            <label>Message</label>
            <textarea name="body" rows="5" required></textarea>
        </div>
        <button type="submit">Send Message</button>

        <div id="contactFeedback"></div>
    </div>
</form>
